.container__navbar
    .navbar
        .navbar__logo
            a(href='/questions'): h2 Que-It
        .navbar__links
            a(href='/questions'): i.far.fa-home
            a(href='/follows'): i.far.fa-address-book
            a(href='/answers'): i.far.fa-edit
            a(href='/notifications'): i.far.fa-bell
        .navbar__search
            i.far.fa-search
            input(type='text' placeholder="Search Que-It")
        .navbar__account
            a(href='/users/logout') Logout
                i.far.fa-sign-out
