.container__questions
    .container__ask
    for que in ques
        div(id=`que-${que.id}`).container__que
            p= que.username
            p= que.body
            button Edit
            button Delete

