.container__questions
    .questions__ask
        input(type="text").new-question
        button.que__add Add to queue
    .questions__que-list
        for que in ques
            div(id=`que-${que.queId}`).que
                .que__user
                    p by #{que.queAuthor}
                        .que__buttons
                            i(title='Edit Question').far.fa-edit.que__edit
                            i(title='Delete Question').far.fa-trash-alt.que__delete
                .que__body
                    b= que.queBody


