.container__questions
    h1 Questions
    for que in ques
        div(id=questionId).container__que
            p= que.username
            p= que.body
            button Edit
            button Delete

