extends layout
block head
    script(src="/js/components/questions.js")
    script(src="/js/components/navbar.js")
block content
    body
    include components/navbar
    .container__main
        include components/questions