extends layout
block content
    form(action='/users' method='post')
        label Username
        input(type='text' name='username' required)
        label Email
        input(type='email' name='email' required)
        label Password
        input(type='password' name='password' required)
        input(type='hidden' name='_csrf' value=csrfToken)
        button(type='submit') Create Account
    form(action='/users/login' method='post')
        label Username
        input(type='text' name='username' required)
        label Password
        input(type='password' name='password' required)
        input(type='hidden' name='_csrf' value=csrfToken)
        button(type='submit') Login
    form(action='/users/demo' method='get')
        input(type='hidden' name='_csrf' value=csrfToken)
        button(type='submit') Demo User
