extends layout
append head
    link(rel="stylesheet" href="styles/index.css")
block content
    include components/login
    //- if authenticated
    //-     include components/navbar
    //-     .container__main
    //-         //- include components/interests
    //-         include components/questions
    //-         //- include components/popular
    //- else
    //-     include components/login





