<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Login Page
    body
        form(action='/users' method='post')
            label Username
            input(type='text' name='username' required)
            label Email
            input(type='email' name='email' required)
            label Password
            input(type='password' name='password' required)
            input(type='hidden', name='_csrf' value=csrfToken)
            button(type='submit') Submit
