* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	--color-primary: #644a8c;
	--color-secondary: #a46280;
	--color-background: #efefef;
	--color-shadow-light: #00000055;
	--color-warning: #f00000;

	--size-max-width: 600px;
	--size-min-width: 550px;
}
body {
	font-family: 'Quicksand', sans-serif;
}
.container__main {
	max-width: var(--size-max-width);

	margin: 40px auto 0 auto;
}

.fa-edit,
.fa-save {
	color: var(--color-primary);
}
.fa-trash-alt,
.fa-times {
	color: var(--color-warning);
}
.fa-comment-lines {
	color: var(--color-secondary);
}

.fa-edit:hover,
.fa-save:hover,
.fa-trash-alt:hover,
.fa-times:hover,
.fa-comment-lines:hover,
.que__upvote:hover,
.que__downvote:hover,
.que__add-answer:hover {
	cursor: pointer;
}
