.container {
	margin: 15% auto;

	width: 40%;
	padding: 15px;
	background-color: #55ff55;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}
.container > div {
	background-color: yellow;
	width: 50%;
}
/* Grab all labels in form */
/* form label {
	background-color: #fff;
} */

/* Grab all inputs in form */
form input {
	width: 100%;
	box-sizing: border-box;
}

.container__signup {
	margin-right: 10px;
}

form > div {
	margin-top: 10px;
	display: grid;
}
/* form button {
	width: 75%;
	margin-left: auto;
} */
