.container__main {
	max-width: var(--size-max-width);
}
.container__main > div {
	box-shadow: 0 1px 2px var(--color-shadow-light);
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
}

.container__new-answer {
	display: flex;
	align-items: flex-end;
}
.container__new-answer textarea {
	padding: 8px;
	outline: var(--color-primary);
	border: none;
	resize: none;
	width: 79%;
	height: 68px;
	box-shadow: 1px 1px 3px 0 var(--color-shadow-light) inset;
	border-radius: 5px;
	background-color: var(--color-background);
}
.new-answer__buttons {
	margin-left: 8px;
}
.container__main > div:not(:first-child),
.new-answer__buttons > div:not(:first-child),
.container__que > div:not(:first-child),
.answer > div:not(:first-child) {
	margin-top: 8px;
}
.new-answer__button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-background);
	border-radius: 20px;
	padding: 8px;
	height: 30px;
	min-width: 130px;
}
.clear-answer:hover {
	background-color: var(--color-warning);
}
.add-answer:hover {
	background-color: var(--color-highlight);
}
.new-answer__button i {
	display: flex;
}
.new-answer__button b {
	margin-left: 8px;
}

.answer__user {
	display: flex;
	align-items: center;
}
.answer__user-buttons {
	display: flex;
	margin-left: auto;
}
.ans-que__delete {
	margin-left: 8px;
}
.answer__delete {
	margin-left: 8px;
}
.container__answers > div:not(:first-child) {
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid var(--color-shadow-light);
}
/* .answer {
} */
