.container__form {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 15%;
	width: 40%;
	padding: 15px;
	background-color: #fff;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	--spacer: 10px;
}
.container__form > div {
	width: 50%;
}
.container__form > div {
}
form input {
	width: 100%;
	box-sizing: border-box;
}

.container__signup {
	margin-right: 10px;
}

form > div {
	margin-top: 10px;
	display: grid;
}
.form__signup {
	padding-right: var(--spacer);
}
.form__login {
	border-left: 1px solid #5f5f5f;
	padding-left: var(--spacer);
}
