html,
body {
	height: 100%;
}
.container__login {
	background-image: url('/assets/login_form_img.png');
	opacity: 85%;
	background-size: cover;
	color: #fff;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 23%;
	width: 40%;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 15px 15px 50px 15px;
	min-width: 575px;
}
.container__login h1 {
	font-size: 40px;
}
.container__login p {
	font-size: 24px;
}
.container__login > :not(:last-child) {
	text-align: center;
}
.container__form {
	box-sizing: border-box;
	display: flex;
	--spacer: 10px;
	margin: 7px 0;
}
.container__form > div {
	width: 50%;
}
form input {
	width: 77%;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 105%;
	margin-top: 5px;
	color: white;
}

form > div {
	margin-top: 5px;
	display: grid;
	justify-content: center;
}
.form__signup {
	padding-right: var(--spacer);
}
.form__login {
	border-left: 1px solid #fff;
	/* padding-top: 20px */
	/* margin-top: 20px; */
	/* padding-left: var(--spacer); */
}

.form__signup p {
	margin-left: 40px;
}
form label {
	font-size: 18px;
}
form p {
	font-size: 20px;
	justify-content: center;
}
form button {
	width: 120%;
	margin-top: 20px;
	margin-right: 30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: bolder;
	font-size: 15px;
}
