.container__navbar {
	width: 100%;
	background-color: #fff;
	position: fixed;
	top: 0;
	background-image: url('/assets/login_form_img.png');
	opacity: 85%;
	background-size: contain;
}
.navbar {
	height: 40px;
	margin: 0 auto;
	max-width: var(--size-max-width);
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* color: white; */
}
.navbar > * {
	color: white;
}
.navbar div:not(:first-child) {
	margin-left: 15px;
}
.navbar a,
.navbar i {
	text-decoration: none;
	/* color: var(--color-primary); */
}
.navbar__logo {
	min-width: 85px;
}
.navbar__logo > a {
	display: flex;
	align-items: center;
	font-family: 'Permanent Marker', cursive;
}
.navbar__logo > a > h2 {
	min-width: 90px;
	margin-left: 8px;
}
.navbar__links {
	min-width: 200px;
}
.navbar__links > a {
	font-size: 20px;
	margin: 0 15px;
}
.navbar__search,
.navbar__account a {
	display: flex;
}
.navbar__search {
	padding: 5px;
	border: 1px solid var(--color-primary);
	border-radius: 5px;
	width: 30%;
}
.navbar__search > input {
	margin-left: 5px;
	width: 100%;
	border: none;
	outline: none;
}
.navbar__account i {
	margin-left: 5px;
}
.navbar__account {
	min-width: 70px;
}
