append head
    link(rel="stylesheet" href="styles/assets/navbar.css")
div.container__navbar
    div.navbar
        div.navbar__logo
            a(href='/'): h2 Que-It
        div.navbar__links
            a(href='/'): i.far.fa-home
            a(href='/follows'): i.far.fa-address-book
            a(href='answers'): i.far.fa-edit
            a(href='/notifications'): i.far.fa-bell
        div.navbar__search
            i.far.fa-search
            input(type='text' placeholder="Search Que-It")
        div.navbar__account
            a(href='/users/logout') Logout
                i.far.fa-sign-out

